extends layout

block content
  div.col-md-4
  div.col-md-4.text-center
    h1.title Spotifork
    h3 Every playlist in the world, just for you.
    br
    p Spotifork makes it possible to copy ("fork") your favorite playlists to your Spotify account. Edit to your heart's content!
    br
    br
    button(type='button', name='fork')#fork.btn.btn-xlg.active Fork
    button(type='button', name='merge')#merge.btn.btn-xlg Merge
    br
    br

    div.form-group
      form(action='/', name='action', method='post')#form-fork.action-form
        input(type='hidden', name='action', value='fork')
        div.playlist
          input(type='hidden', name='playlist', value='')
          input(type='hidden', name='owner', value='')
          label(for='playlistID') Playlist ID
          input(autocomplete='off', type='text', name='playlistID', placeholder='Playlist, Author').form-control.pl-input
          ul.pred
          br
          input(type='submit', value='Fork').btn.btn-md.btn-primary

    div.form-group
      form(action='/', name='action', method='post')#form-merge.action-form
        input(type='hidden', name='action', value='merge')
        div#playlists
          div.playlist
            input(type='hidden', name='playlist', value='')
            input(type='hidden', name='owner', value='')
            label(for='playlistID') Playlist ID
            input(autocomplete='off', type='text' name='playlistID', placeholder='Playlist, Author').form-control.pl-input
            ul.pred
            br
          div.playlist
            input(type='hidden', name='playlist', value='')
            input(type='hidden', name='owner', value='')
            label(for='playlistID') Playlist ID
            input(autocomplete='off', type='text' name='playlistID', placeholder='Playlist, Author').form-control.pl-input
            ul.pred
            br
            br
        input(type='button', value='Add Playlist')#addPlaylist.btn.btn-md
        input(type='button', value='Remove Playlist')#removePlaylist.btn.btn-md
        input(type='submit', value='Merge').btn.btn-md.btn-primary
