doctype html
html
  head
    title= title
    script(type='text/javascript', src='/javascripts/bundle.js')
  body
    block content
    //div.col-md-4
    //  form(action='/logout/', name='logout', method='post')#logout
    //    input(type='submit', value='Logout').btn.btn-md.btn-primary.pull-right
