body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

a {
  color: #00B7FF;
}

#fork {
    margin-right: 40px;
}

#form-merge {
    display: none;
}

#addPlaylist {
    margin-right: 15px;
}

#removePlaylist {
    margin-right: 15px;
}

.playlist {
    padding-bottom: 20px;
}

.pl-input {
    font-size: 25px;
    height: 2em;
}

.btn-xlg {
    padding: 18px 44px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.pred {
    display: none;
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    z-index: 10000;
    padding-left: 0;
    height: auto;
    max-height: 16em;
    transition:max-height 0.3s ease-out;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.pred li {
    line-height: 1.6em;
    list-style: none;
    text-align: left;
    font-size: 16px;
    /* border: 1px solid #ccc; */
    border-top: 1px solid #ccc;
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.pred li:first-child {
    border-top: none;
}

.pred li:hover {
    background-color: #e8e8e8;
}

.pred li:active {
    background-color: #ccc;
}

/* Keep scrollbar visible */
.ps > .ps__scrollbar-x-rail,
.ps > .ps__scrollbar-y-rail {
  opacity: 0.6;
}